@font-face {
    font-family: Rajdhani;
    src: url('./Rajdhani-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rajdhani;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    padding-top: 0.1px;
    position: relative;
    overflow-y: auto;
    /* background-color: red; */
}

#main::-webkit-scrollbar{
    display: none;
}

#nav{
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw 2vw 1vw;
    /* position: fixed; */
    /* background-color: purple; */
}

#nav_left{
    width: 10vw;
    /* padding: 0; */
    /* background-color: yellow; */
}

#nav_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nav_left:hover{
    cursor: pointer;
}

#nav_center{
    width: 30vw;
    padding: 0.5vw;
    border: 2px solid #a3a2a2;
    color: #545353;
    border-radius: 5px;
    /* background-color: aqua; */
}

#nav_right{
    display: flex;
    gap: 3.5vw;
    width: 28vw;
    padding-right: 0;
    /* background-color: brown; */
}

#nav_right h3{
    font-size: 1vw;
    font-weight: 600;
    /* background-color: yellow; */
}

#nav_right h3:hover{
    cursor: pointer;
}

#glasses_option{
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.8vw;
    /* background-color: pink; */
}

#glasses_option_left{
    display: flex;
    align-items: center;
    gap: 1.6vw;
    text-transform: uppercase;
}

#glasses_option_left h3{
    font-size: 1vw;
    font-weight: 600;
}

#glasses_option_right{
    display: flex;
    align-items: center;
    gap: 0.3vw;
    height: 100%;
    /* background-color: purple; */
}

#try, #blu, #gold{
    height: 5vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    font-weight: 500;
    border-radius: 5px;
    background-color: aqua;
}

#glasses_option h3:hover{
    cursor: pointer;
}

#blu{
    background-color: blue;
}

#gold{
    background-color: gold;
}

#scroll{
    width: 100%;
    height: 13vw;
    padding: 0.5vw 1vw;
    background-color: rgb(233, 230, 230);
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgb(233, 230, 230);
}

#container::-webkit-scrollbar{
    display: none;
}

.container{
    flex-shrink: 0;
    margin-left: 0.8vw;
    width: 16.1%;
    height: 100%;
    border-radius: 12px;
    padding: 0.2vw;
    animation-name: scroll;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    background-color: #fff;
}

.container img{
    width: 100%;
    height: 80%;
    border-radius: 12px;
    object-fit: cover;
}

.container h4{
    text-align: center;
    margin-top: 0.3vw;
    font-weight: 400;
}

.container:nth-child(1){
    margin-left: 0;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-430%);
    }
}

#video{
    width: 100%;
    height: 26vw;
    position: relative;
}

#video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video_overlay{
    position: absolute;
    top: 10%;
    left: 2.5%;   
    mix-blend-mode: screen;
    color: #fff;
}

#video_overlay h5{
    font-size: 1.5vw;
    font-weight: 800;
}

#video_overlay h3{
    font-size: 3vw;
    font-weight: 800;
}

#video_overlay h4, #video_overlay p{
    font-size: 1vw;
    font-weight: 500;
}

#special{
    mix-blend-mode: screen;
    color: #fff;
    top: 82%;
    left: 96%;
    font-size: 0.8vw;
    position: absolute;
    transform: rotate(270deg);
}

#slides{
    width: 100%;
    height: 26vw;
    margin-top: 1.2vw;
    display: flex;
    overflow-x: auto;
    /* background-color: purple; */
}

#slides::-webkit-scrollbar{
    height: 0.3vw;
}

#slides::-webkit-scrollbar-thumb{
    background-color:rgba(92, 5, 5, 0.768);
}

#slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#trend{
    width: 100%;
    height: 23vw;
    padding: 5vw 5vw;
    display: flex;
    /* background-color: purple; */
}
#text{
    height: 100%;
    padding-top: 1.8vw;
    /* background-color: pink; */
}
#text h3, #text h2{
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -2px;
}

#text h3{
    font-size: 3vw;
}

#text h2{
    font-size: 5vw;
}

#text h5{
    line-height: 1;
    font-size: 1.2vw;
    letter-spacing: -1px;
}

#glasses_type{
    width: 75%;
    height: 100%;
    margin-left: 5vw;
    display: flex;
    /* background-color: yellow; */
}

.seperate_conatiner{
    width: 20%;
    height: 100%;
    margin-left: 3.5vw;
    /* background-color: red; */
}

.seperate_conatiner:nth-child(1){
    margin-left: 4.5vw;
}

.seperate_conatiner img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin: 0;
}

.seperate_conatiner p{
    height: 20%;
    text-align: center;
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 500;
}

.seperate_conatiner button{
    width: 80%;
    height: calc(100% - (50% + 20% + 0.5vw + 0.5vw));
    margin: 0.3vw 1.3vw;
    background-color: #56C3BF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
}

.seperate_conatiner:hover{
    scale: 1.1;
    transition: 0.2s ease;
}

.seperate_conatiner button:hover{
    cursor: pointer;
    background-color: #68ece8;
}

#premium{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
}

#premium::after{
    content:"";
    background-color: black;
    background-color: rgba(187, 182, 182, 0.736);
    width: 35%;
    height: 0.1vw;
    position: absolute;
    top:40%;
    left:60%;
}

#premium::before{
    content:"";
    background-color: black;
    background-color: rgba(187, 182, 182, 0.736);
    width: 35%;
    height: 0.1vw;
    position: absolute;
    top:40%;
    left:5%;
}

#glass{
    width: 100%;
    height: 45vw;
    /* background-color: red; */
}

.range{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}

#eyeglasses{
    width: 80vw;
    height: 2vw;
    /* background-color: pink; */
    text-transform: uppercase;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 1vw;
}

#eyeglasses::after{
    content: "" ;
    background-color: rgba(187, 182, 182, 0.736);
    width: 90vw;
    height: 0.1vw;
    position: absolute;
    top: 220.5%;
    left: 5%;
}

#eyeglasses_img{
    width: 18%;
    height: 70%;
    margin: 2vw 15vw;
    display: flex;
}

#eyeglasses_img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    margin-left: 8vw;
    background-color: #fff;
}

#eyeglasses_img img:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s ease;
}

#eyeglasses_img img:nth-child(1){
    margin-left: 0;
}

#sunglasses{
    width: 80vw;
    height: 2vw;
    text-transform: uppercase;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 1vw;
}

#sunglasses::after{
    content: "" ;
    background-color: rgba(187, 182, 182, 0.736);
    width: 90vw;
    height: 0.1vw;
    position: absolute;
    top: 271%;
    left: 5%;
}

#footer{
    width: 100%;
    height: 40vw;
    padding: 3vw 3.2vw;
    color: #fff;
    background-color: #000042;
}

#footer h1{
    margin-bottom: 1vw;
    font-size: 2.8vw;
    font-weight: 500;
}

#footer p{
    font-size: 1.2vw;
}

#common{
    display: flex;
}

.common2{
    padding-top: 4vw;
    margin-left: 4.5vw;
    line-height: 2;
}

.common2 h3{
    font-size: 1.5vw;
    font-weight: 400;
}

.common2 h5{
    font-size: 1vw;
    font-weight: 100;
    text-transform: capitalize;
}

.common2:nth-child(1){
    margin-left: 0;
}

hr{
    margin: 2vw 0;
    width: 100%;
    height: 0.1vw;
    background-color: #fff;
}

#footer_menu{
    display: flex;
    justify-content: space-between;
}

#footer_menu_left, #footer_menu_right{
    display: flex;
    gap: 2.2vw;
}

i{
    font-size: 2vw;
}

i:hover{
    cursor: pointer;
}
